html, body {
    background-color: #232946;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    width: 450px;
    background-color: #16161a;
    padding: 48px 24px 24px;
    border-radius: 20px;
}

.display {
    height: 1em;
    /* top right bottom left*/
    padding: 0.75em 0.5em 0.5em 0.5em;
    background-color: #2cb67d;
    font-size: 32px;
    margin-bottom: 24px;
    flex: 1 1 auto;
    text-align: end;
    border-radius: 5px;
}

.row {
    margin-top: 4px;
    height: 75px;
    display: flex;
    gap: 1%;
}

button {
    flex: 1 1 20%;
    border-radius: 5px;
   
}

#equals {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 41%;
    background-color: #7f5af0;
}

.grey {
    background-color: #94a1b2;
}

#clear-all {
    background-color: #ef4565;
}